absl-py==2.4.0
certifi==2026.6.17
charset-normalizer==3.4.9
cloudpickle==3.1.2
etils==1.13.0
Farama-Notifications==0.0.4
fsspec==2026.2.0
glfw==2.10.0
gymnasium==1.2.3
idna==3.18
importlib_resources==6.5.2
mujoco==3.6.0
numpy==2.2.6
packaging @ file:///opt/miniconda3/conda-bld/packaging_1761049079158/work
PyOpenGL==3.1.10
requests==2.34.2
typing_extensions==4.15.0
urllib3==2.7.0
zipp==3.23.0
